APP_PORT=8000
LOG_LEVEL=INFO

POSTGRES_USER=user
POSTGRES_PASSWORD=pass
POSTGRES_DB=tasksdb
POSTGRES_PORT=5432
DATABASE_URL=postgresql+asyncpg://user:pass@localhost:5432/tasksdb

REDIS_HOST=localhost
REDIS_PORT=6379
